<%= form_for(@group, html: {class: 'form-horizontal'}) do |f| %>
    <%= render partial: 'share/form_error_messages', object: @group %>

    <%= input_field_for f, :name %>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit class: 'btn btn-default' %>
        </div>
    </div>
<% end %>


<h3>Members</h3>
<% if @group.people.length > 0 %>
    <ul>
    <% @group.people.each do |person| %>
        <li><%= person.name %></li>
    <% end %>
    </ul>
<% end %>
<%= form_for @invitation, :url => group_invitations_path(@group) do |f| %>
    <%= input_field_for f, :email, field_type: :email_field %>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit, 'Send' class: 'btn btn-default' %>
        </div>
    </div>
<% end %>
