<%= form_for(@group, html: {class: 'form-horizontal'}) do |f| %>
    <%= render partial: 'share/form_error_messages', object: @group %>

    <%= input_field_for f, :name %>

    <%= form_actions do
        f.submit class: 'btn btn-primary'
    end %>
<% end %>


<% if @group.persisted? %>
<fieldset>
<legend>Members</legend>
<% if @group.people.length > 0 %>
    <ul>
    <% @group.people.each do |person| %>
        <li><%= person.name %></li>
    <% end %>
    </ul>
<% end %>
<% if @group.invitations.unaccepted.length > 0%>
<h5>Pending Invitations</h5>
    <ul>
    <% @group.invitations.unaccepted.each do |invitation| %>
        <li><%= invitation.email %></li>
    <% end %>
    </ul>
<% end %>
<h5>Add new member</h5>
<%= form_for @invitation, :url => group_invitations_path(@group), html: {class: 'form-horizontal'} do |f| %>
    <%= render partial: 'share/form_error_messages', object: @invitation %>
    <%= input_field_for f, :email, field_type: :email_field %>
    <%= form_actions do
        f.submit 'Send', class: 'btn btn-primary'
    end %>
<% end %>
</fieldset>
<% end %>
