<% if @groups.length < 1 %>
<div class="jumbotron">
    <h1>Groups</h1>
    <p>You can share your list with groups of people - like a family or your coworkers.</p>
    <p><%= link_to 'Create one!', new_group_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% else %>
    <% @groups.each do |group| %>
    <%= group.name %>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<% end %>
