<%= form_for(@item, url: @submit_url, html: {class: 'form-horizontal'}, data: {remote: true}) do |f| %>
<div class="modal-body">
    <%= render partial: 'share/form_error_messages', object: @item %>

    <%= input_field_for f, :name %>
</div>

<div class="modal-footer">
    <%= modal_close_button %>
    <%= f.submit 'Add', class: 'btn btn-primary' %>
</div>
<% end %>
