<%= form_for(@item, url: @submit_url, html: {class: 'form-horizontal'}, data: {remote: true}) do |f| %>
<div class="modal-body">
    <%= render partial: 'share/form_error_messages', object: @item %>

    <%= input_field_for f, :name %>
    <%= input_field_for f, :price, field_type: :number_field %>
    <%= input_field_for f, :url, field_type: :url_field, label_text: 'Website' %>
    <%= input_field_for f, :description, field_type: :text_area %>
</div>

<div class="modal-footer">
    <%= modal_close_button %>
    <%= f.submit class: 'btn btn-primary' %>
</div>
<% end %>
