<div class="list-item">
    <div class="pull-right">
        <% if current_person != item.list.person %>
            <% if item.purchaser %>
                <% if item.purchased_by?(current_person) %>
                <%= link_to 'Unmark', group_list_item_unpurchase_path(@group, item.list, item), class: 'btn btn-default', method: :post, data: {remote: true} %>
                <% else %>
                Purchased by <%= item.purchaser.name %>
                <% end %>
            <% else %>
                <%= link_to 'Mark Purchased', group_list_item_purchase_path(@group, item.list, item), class: 'btn btn-default', method: :post, data: {remote: true} %>
                <% if item.creator == current_person %>
                    <%= link_to 'Delete', group_list_item_path(@group, item.list, item), class: 'btn btn-default', method: :delete, data: {remote: true, confirm: 'Are you sure you want to remove this item?'} %>
                <% end %>
            <% end %>
        <% else %>
            <%= modal_button 'Edit', edit_list_item_path(item.list, item), html_class: 'btn btn-default' %>
            <%= link_to 'Delete', list_item_path(item.list, item), class: 'btn btn-default', method: :delete, data: {remote: true, confirm: 'Are you sure you want to remove this item from your list?'} %>
        <% end %>
    </div>

    <h3><%= item.name %></h3>
    <% if item.creator != item.list.person %>
    <div>
        Added by <%= item.creator.name %>
    </div>
    <% end %>

    <div>
        <% if item.price %>
        <div>
            <b>Price</b>: <%= number_to_currency item.price %>
        </div>
        <% end %>
        <% if item.url.present? %>
        <div>
            <b>Website</b>: <%= link_to item.pretty_url, item.url, target: :blank %>
        </div>
        <% end %>

        <% if item.description %>
        <p><%= item.description %></p>
        <% end %>
    </div>
</div>
