<%= render partial: 'share/group_members_sidebar' %>

<div class="col-lg-9">
    <% if enable_buttons? %>
        <div class="button-panel">
            <%= modal_button('Add Item', new_group_list_item_path(@group, @list), tooltip: "Add an item not on #{@person.first_name}'s list") %>
        </div>
    <% end %>

    <% if @person.guardian %>
    <p>
        <% if current_user.wards.include?(@person) %>
        You manage this list for <%= @person.first_name %>
        <% else %>
        This list is managed by <%= @person.guardian.person.first_name %>
        <% end %>
    </p>
    <% end %>

    <% if @items.any? %>
        <% if @items.unpurchased.any? %>
            <h3><%= @person.first_name %> still wants</h3>
            <%= render partial: 'item', collection: @items.unpurchased %>
        <% end %>

        <% if @items.purchased.any? %>
            <h3>Already purchased</h3>
            <%= render partial: 'item', collection: @items.purchased %>
        <% end %>
    <% else %>
    <p class="text-center lead"><%= @person.first_name %> has not added any items to <%= @person.gender_to_s :possessive_adjective %> list.</p>
    <% end %>
</div>
