<%= form_for @ward, url: (@ward.persisted? ? ward_path(@ward) : wards_path), html: {class: 'form-horizontal'} do |f| %>
    <%= render partial: 'share/form_error_messages', object: @ward %>

    <%= input_field_for f, :first_name %>
    <%= input_field_for f, :last_name %>
    <%= select_field_for f, :gender, Person.genders.keys.collect{|g| [g.titleize, g]} %>

    <select class="selectpicker" multiple>
         <option>Mustard</option>
          <option>Mustard</option>
           <option>Mustard</option>
            </select>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <%= f.submit class: 'btn btn-default' %>
        </div>
    </div>
<% end %>
